@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "reset.css";

body {
    background-color: #F1F1F1;
    padding: 0 .8rem;
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 800px;
    height: 4rem;
    margin: 0 auto;
    padding: 1rem 0 3.1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

header > input[type="search"] {
    width: 100%;
    height: 2rem;
    border: 1px solid #CCC;
    border-radius: 100px;
    padding: 0.625rem 1.25rem;
    text-align: center;
}

header > input[type="search"]:focus {
    outline: none;
    border-width: 2px;
    border-color: #F22;
}

header > label {
    width: 100%;
    height: 2rem;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -2rem;
}

header > label > img:first-of-type {
    height: 1.6rem;
    position: relative;
    left: 0.75rem;
}

header > input[type="search"]:focus + label > img:first-of-type {
    opacity: 0;
    visibility: hidden;
}

header > label > img:nth-of-type(2) {
    height: 1.5rem;
    margin-right: 1rem;
}

nav {
    width: 100%;
    padding: 0.7rem 0;
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav > ul > li > a > img {
    width: 1.7rem;
    height: 1.7rem;
}

main > * {
    margin-top: 1rem;
}

/* REVISAR */

main > ul {
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

main > ul > li > a > img {
    height: 150px;
    border-radius: 0.75rem;
}

main > ul > li + li {
    margin-left: 20px;
}

main > img {
    width: 100%;
    margin: 1rem;
    margin-left: 0;
}

main > h5 > a > button {
    height: 3rem;
    width: 8rem;
    background-color: #e60012;
    border-radius: .3rem;
    border: 1px solid #e60012;
    font-size: 1.3rem;
    margin: .5rem;
}

main > h5 > a > button:hover {
    background-color: rgb(180, 0, 0);
    border: 1px solid #e60012;
}

main > h5 > a > button {
    color: #fff;
}

main > h5 > a > button:hover {
    color: #fff;
}

h1 {
    margin: .75rem;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    margin: .5rem;
    font-size: 1.75rem;
    font-weight: bold;
}

h3 {
    margin: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

h4 {
    margin: .5rem;
    font-size: 1.25.rem;
}

h5 {
    font-size: 1.rem;
    margin-left: .5rem;
}

a {
    color: #F44;
}

main > h3 > img {
    border-radius: 50%;
}